h5{
    
    color: red;
    padding: 3px 10px ;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center
}

#Présentation{
    padding: 4px 8px ;
    border-radius: 5px;
}

#compétence{
    margin-top: 30px;
    padding: 4px 8px ;
    border-radius: 5px;
}
#contact{
    text-align: center
}
#contacte2{
    margin-top: 20px;
    text-decoration: underline;
}
#pseudo{
    margin-bottom: 5px;
}